
*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
header{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #c7ecff;
}
header section{
  position: relative;
  width: 80%;
  height: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
section .header-container{
  width: 80%;
  height: 97.5%;
  display: flex; 
  align-items: center;
  justify-content: space-around;
}
header section .header-container p{
  color: white;
  font-size: 30px;
  font-weight: 500px;
  letter-spacing: 2px;
  margin-top: 30px;
}
header section .header-container h1{
  color: white;
  font-size: 65px;
  font-weight: 800px;
  letter-spacing: 2px;
  margin-top: 30px;
}

/* Form Login */

.right-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

form{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  width: 400px;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.3);
}
form input{
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgb(218, 214, 214);
  outline: none;
  font-size: 16px;
  
}
form input:focus{
  border-color: #2577fd;
  box-shadow: 0 0 8px #2577fd;
}
#header{
  color: rgb(63, 61, 61);
  width: 100%;
  font-size: 30px;
  font-weight: 500;
  margin-top: -4%;
  margin-bottom: 5%;

}
header > a i{
  position: absolute;
  margin-top: 2%;
  margin-left: 2%;
  font-size: 35px;
  color: rgb(230, 83, 98);
}
.input-login .input-field {
  width: 100%;
  padding: 10px;
  padding-left: 50px;
}
.input-icons i {
  position: absolute;
  color: #2577fd;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}
#hide1 {
  display: none;
}
.icon {
  padding: 10px;
  min-width: 40px;
}
.inputContainer .icon{
  margin-left: -40px;
}
.input-login{
  width: 100%;
}
.loginBtn{
  background-color: #2577fd;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  width: 60%;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-family: 'Arial';
  font-weight: 700;
  transition: 0.5s;
}
.loginBtn:hover{
  background-color: #043c96;
}
.forget{
  margin: 15px 0;
  text-decoration: none;
  color: rgb(239, 79, 95);
  font-family: 'Arial';
  font-size: 14px;
}
#invalidEmail{
  margin-top: -3%;
  display: none;
}
