body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    overflow-x: hidden;
}

/*-------------------- main header section start----------------- */
.main-header-section {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0px 15px;
    box-shadow: 0 8px 6px -6px black;
  }
  .main-header-section.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0 8px 6px -6px black;
  }
  .main-header-section .left {
    display: flex;
    align-items: center;
    width: 10%;
  }
  .main-header-section .left h1 {
    font-size: 50px;
    line-height: 24px;
    font-weight: 600;
  }
  .main-header-section .center {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main-header-section .center .latest {
    position: relative;
  }
  
  .main-header-section .center a {
    padding: 45px 0px;
    text-decoration: none;
    color: #000;
    font-size: 17px;
    line-height: 21px;
    font-family: Poppins, sans-serif;
  }
  .main-header-section .center a:hover {
    color: #ff003c;
  }
  .main-header-section .right {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: flex-end;
  }
  
  .main-header-section .right > .sign-btn:hover {
      background-color: rgb(223, 7, 43);
    }
  .main-header-section .right .wish-list {
    padding: 15px;
    border: 1px solid #c7c5c5;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .loginBtn{
    background-color: rgb(239, 67, 85);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    width: 15%;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: 700;
    transition: 0.5s;
}
.loginBtn:hover{
    background-color: rgb(197, 71, 84);
}
  .main-header-section .left > .logo{
    width: 80px;    
    border-radius: 50%;
}

/*-------------------- Hero section start----------------- */
.hero-section {
    margin-bottom: 150px;
    background-color: #c7ecff;
  }
  
  .hero-section .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 50%;
  }
  .hero-section .center p {
    font-family: Yellowtail, cursive;
    font-size: 40px;
    line-height: 60px;
    color: #2577fd;
  }
  .hero-section .center h1 {
    font-size: 100px;
    color: #1f2022;
    line-height: 110px;
    font-family: "Playfair Display", serif;
    margin-top: 15px;
  }
  .hero-section .center .mute-text {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    color: #313639;
    line-height: 35px;
    font-weight: 300;
  }
  .hero-section .center .hero-btn {
    font-size: 18px;
    color: #fff;
    background-color: rgb(223, 31, 50);
    padding: 10px 30px;
    border-radius: 35px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    border: 2px solid rgb(223, 31, 50);
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .hero-section .center .hero-btn:hover {
    background-color: rgb(225, 12, 33);
    border: 2px solid rgb(223, 9, 30);
  }

  /*-------------------- Latest Product section start----------------- */
.latest-product {
    width: 90%;
    margin: auto;
    margin-bottom: 150px;
  }
  .latest-product .latest-product-top {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
  }
  .latest-product .left {
    padding: 10px;
    flex: 70%;
  }
  .latest-product .left h1 {
    font-size: 40px;
    line-height: 24px;
  }
  .latest-product .right {
    padding: 10px;
    flex: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .latest-product .right p {
    cursor: pointer;
  }
  .latest-product .right p:hover {
    color: #ff003c;
  }
  .latest-product .latest-product-card {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .latest-product .latest-product-card .column {
    flex: 30%;
    max-width: 30%;
    margin: 15px 0px;
  }
  .card img {
    width: 100%;
    border-radius: 10px;
  }
  .card {
    transition: 0.3s;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
  }
  .card-caption {
    text-align: center;
    padding: 15px 16px;
  }
  .card-caption .fa-star,
  .fa-star-half-alt {
    margin: 15px 0px;
    color: #f7d800;
  }
  .card-caption h4 {
    margin-bottom: 15px;
  }
  i .fa-solid .fa-heart{
    font-size: 50px;
  }
  .card-caption i{
    font-size: 50px;
  }

  /*-------------------- Policy section start----------------- */
#policy{
    background-color: #c7ecff;
}
.policy {
    width: 80%;
    margin: auto;
    margin-bottom: 150px;
    background-color: #c7ecff;
    padding: 50px;
  }
  .policy .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .policy .row .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .policy .fas {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .policy h2 {
    font-size: 23px;
    line-height: 39px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    margin-bottom: 10px;
  }
  .policy p {
    font-size: 17px;
    line-height: 25px;
  }

  /*-------------------- Footer section start----------------- */
.footer-section {
    width: 90%;
    margin: auto;
    padding-bottom: 100px;
  }
  .footer-section .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-section .quick-link,
  .footer-section .new-product,
  .footer-section .support {
    width: 25%;
  }
  
  .footer-section .quick-link h1,
  .footer-section .new-product h1,
  .footer-section .support h1 {
    font-size: 25px;
    line-height: 24px;
    font-weight: 500;
  }
  .footer-section .quick-link a,
  .footer-section .new-product a,
  .footer-section .support a {
    text-decoration: none;
    display: block;
    color: #868c98;
    margin-top: 15px;
    font-size: 20px;
    line-height: 29px;
    transition: 0.3s;
  }
  .footer-section .quick-link a:hover,
  .footer-section .new-product a:hover,
  .footer-section .support a:hover {
    padding-left: 10px;
    color: #ff003c;
  }
  
 



  /* Media Query*/
  @media (max-width: 969px) {

    /*-------------------- top header section----------------- */
    
    /*-------------------- top header section end----------------- */
  
    /*-------------------- main header section start----------------- */
    .main-header-section .center {
      width: 50%;
      gap:10px;
    }
    .main-header-section .right {
      display: flex;
      width: 20%;
    }
    
    .main-header-section .center a:hover {
      color: #ff003c;
    }
    .loginBtn{
        padding: 15px;
        width: 20%;
        margin-right: 2%;
    }
    .latest-product-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Policy section*/
    .policy .row {
        flex-direction: column;
        gap:20px;
      }
   
}